/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgba(136, 255, 0, 0.26);
    color: rgba(85, 85, 85, 0.479);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ----------------------------------------------------- */
h1{
    font-size: 30px;
    color: rgb(75, 61, 126);
}

.search-bar{
    padding: 5px 15px;
    border: 1px solid rgb(233, 138, 138);
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-button{
    padding: 5px 15px;
    margin-top: 30px;
    margin-bottom: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(233, 138, 138);
    background-color: rgb(233, 138, 138);
    outline: none;
    cursor: pointer;
}
img{
    border-radius: 8px;
    width: 250px;
    height:250px;
}
.crow{
    justify-content: center;
    cursor: pointer;
}