/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background-image: linear-gradient(-75deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    color: rgba(85, 85, 85, 0.479);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ----------------------------------------------------- */

h1{
    font-size: 30px;
    color: rgb(75, 61, 126);
}

.search-bar{
    padding: 5px 15px;
    border: 1px solid rgb(233, 138, 138);
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-button{
    padding: 5px 15px;
    margin-top: 30px;
    margin-bottom: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(233, 138, 138);
    background-color: rgb(233, 138, 138);
    outline: none;
    cursor: pointer;
}
img{
    border-radius: 5px;
    /* width: 350px; */
    /* height:350px; */
}
.crow{
    justify-content: center;
}

.recipecard{ 
    cursor: pointer;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

 .search-bar, .search-button{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.unorderedlist{
    list-style-type: none;
}
.smalltxt{
    font-size: 10px;
    color: black;
}

.smalltext{
    font-size: 25px;
    color: darkgreen;
}

.imgbox{
    width: 28px;
    height: 28px;
}
.cf{
    font-size: 18px;
}